[webservers]
#server-1 ansible_host=${app_server_1_ip} ansible_user=${app_server_user} ansible_ssh_private_key_file=${app_server_keypath}
#server-2 ansible_host=${app_server_2_ip} ansible_user=${app_server_user} ansible_ssh_private_key_file=${app_server_keypath}
server-1 ansible_host=${app_server_1_ip} ansible_user=${app_server_user} ansible_ssh_public_key_file=${app_server_keypath}
server-2 ansible_host=${app_server_2_ip} ansible_user=${app_server_user} ansible_ssh_public_key_file=${app_server_keypath}
